Makefile
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
cmake_install.cmake
install_manifest.txt
src/CTestTestfile.cmake
src/cmake_install.cmake
src/libnanomsg.so
src/utils/config.h
tests/basic
tests/block
tests/pubsub
tests/reqrep
perf/inproc_lat
perf/inproc_thr
perf/local_lat
perf/local_thr
perf/remote_lat
perf/remote_thr
